/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

i {
    margin-right: 6px;
}

ul {
    margin: 0 20px;
    list-style: none;
}

ul h5, h6 {
    display: flex;
}

ul > h5 {
    margin-top: 25px;
}

ul > h6 {
    margin-top: 20px;
    color: #65696c;
    margin-bottom: 60px;
}

li {
    text-align: left;
    padding: 20px 0;
}

.row-list > button {
    margin-top: 50px;
    width: calc(100% - 15%)
}

.row-list > nav {
    margin: 40px 0;
    margin-left: 20px;
    display: flex;
}

.row-list nav > span {
    margin-right: 5px;
}

.row-list > .line-small {
    max-width: calc(100% - 80%);
    margin-left: 20px;
}

.head-li {
    margin: 50px 0;
    text-align: left;
    margin-left: 20px;
}

.check {
    color: #0860ff;
}
/*----------------
    LAYOUT
------------------*/
.container-large {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.col-small {
    max-width: 30%;
}

.col-big {
    max-width: 70%;
    position: relative;
    margin-bottom: -136px;
}

.jumbo {
    max-width: 100%;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Roboto", serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #0061fe;
    color: #fff;
}

/*----------------
    HEADER
------------------*/
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header nav {
    display: flex;
    gap: 26px;
}

header nav > a {
    text-decoration: none;
    color: #000;
}





/*----------------
    MAIN
------------------*/

.hero {
    background-color: #b4d0e6;
}

main h1 {
    font-size: 80px;
    margin-bottom: 70px;
}

main p {
    margin-bottom: 35px;
}

.col-small > span {
    display: block;
    margin-top: 35px;
}

.col-small > i {
    margin-top: 80px;
}


.container-small > h2 {
    padding-top: 180px;
}

.btn-radio {
    margin-top: 70px;
    display: flex;
    gap: 50px;
}

.row-list {
    border: 1px solid black;
    width: calc(100% / 3);
    margin-top: 50px;
    text-align: center;
    padding: 5px 0;
}

.row-list > h4 {
    padding: 10px 0;
}

ul > h2 {
    margin-top: 40px;
}

.contatta {
    margin-top: 50px;
    margin-bottom: 200px;
    border: 1px solid black;
}

.contatta  > h4 {
    text-align: center;
    padding: 8px 0;
}

.col {
    display: flex;
}

.col-cont-big {
    max-width: 70%;
    margin-left: 30px;
}

.col-cont-big > h2 {
   padding-top: 35px;
   padding-bottom: 20px;
}

.col-cont-big > h5 {
    padding-bottom: 50px;
}

.col-cont-big > p {
    line-height: 20px;
}

.col-cont-small {
    max-width: 30%;
}

.col-cont-small > button {
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

/*----------------
    FOOTER
------------------*/